<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang-ext"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/lang-ext classpath:org/jeffklein/spring/dynlang/spring-lang-3.0.xsd">

    <import resource="classpath:org/jeffklein/spring/dynlang/spring-beans.xml"/>

    <lang:js id="inlineJavaScriptHelloService" script-interfaces="org.jeffklein.spring.dynlang.test.HelloService">
        <lang:inline-script>
            var date
            var locale
            function hello(name) {
                return "Hello, " + name + " World!"
            }
            function addTwoNumbers(num1, num2) {
                return num1 + num2
            }
            function setDate(date) {
                this.date = date
            }
            function getDate() {
                return this.date
            }
            function setLocale(locale) {
                this.locale = locale
            }
            function getLocale() {
                return this.locale
            }
        </lang:inline-script>
        <lang:property name="date" ref="javaDate"/>
        <lang:property name="locale" ref="javaLocale_US"/>
    </lang:js>

    <lang:js id="classpathJavaScriptHelloService"
             script-source="classpath:org/jeffklein/spring/dynlang/test/js/Hello.js"
             script-interfaces="org.jeffklein.spring.dynlang.test.HelloService">
        <lang:property name="date" ref="javaDate"/>
        <lang:property name="locale" ref="javaLocale_US"/>
    </lang:js>

    <bean id="javaDate" class="java.util.Date"/>
    <bean id="javaLocale_US" class="java.util.Locale">
        <constructor-arg index="0" value="en" />
        <constructor-arg index="1" value="US" />
    </bean>

    <lang:gosu id="inlineGosuHelloService" script-interfaces="org.jeffklein.spring.dynlang.test.HelloService">
        <lang:inline-script>
            uses java.util.Date
            uses java.util.Locale

            var date : Date
            var locale : Locale

            function hello(name : String) : String {
                return "Hello, " + name + " World!"
            }
            function addTwoNumbers(num1 : double, num2 : double) : double {
                return num1 + num2
            }
            function setDate(_date : Date) {
                date = _date
            }
            function getDate() : Date {
                return date
            }
            function setLocale(_locale : Locale) {
                locale = _locale
            }
            function getLocale() : Locale {
                return locale
            }
        </lang:inline-script>

        <lang:property name="date" ref="javaDate"/>
        <lang:property name="locale" ref="javaLocale_US"/>
    </lang:gosu>

    <lang:gosu id="classpathGosuHelloService"
               script-source="classpath:org/jeffklein/spring/dynlang/test/gosu/Hello.gsp"
               script-interfaces="org.jeffklein.spring.dynlang.test.HelloService.Hello">
    </lang:gosu>

</beans>